body, html{
    height: 100%;
    margin:0;
    font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
}

.image1, .image2, .image3, .image4, .image5{
    position: relative;
    opacity: 0.7;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#beer-image {
    width: 100px;
}

.image1{
    background-image:url(../images/tray-black.jpg);
    min-height: 100%;
    
}

.image2{
    background-image:url(../images/bottles.jpg);
    min-height: 300px;
}

.image3{
    background-image:url(../images/samples.jpg);
    min-height: 300px;
}

.image4{
    background-image:url(../images/cheers.jpg);
    min-height: 300px;
}

.image5{
    background-image:url(../images/brewery.jpg);
    min-height: 300px;
}

.section{
    text-align: center;
    padding: 20px 40px;
}

.section-dark, .section-light{
    background-color: rgb(39, 45, 46);
    color: white;
}
.image-home{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: rgba(85, 51, 7, 0.959);
    font-size: 50px;
    letter-spacing: 5px;
    line-height: 40px;
    margin-top: -100px;
}

.image-text{
    position: absolute;
    /* top: 50%; */
    width: 100%;
    text-align: center;
    color: rgba(85, 51, 7, 0.959);
    font-size: 50px;
    letter-spacing: 5px;
    line-height: 40px;
    margin-top: 125px;
}

.clearfix-search {
    overflow: auto;
}

#left-side {
    /* border: 1px solid white; */
    width: 25%;
    font-family: 'Roboto Condensed', sans-serif;
    height: 10%;
    margin-left: 150px;
    
}

#right-side {
    /* border: 1px solid white; */
    width: 45%;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: initial;
    float: right;
    margin-top: -450px;
    /* margin: 0 auto; */
}

#website {
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: initial;
    font-size: 20px;
    font-weight: bold;
}

#data-remote {
    margin-bottom: 10px;
}

#city {
    margin-bottom: 10px;
}

#state {
    margin-bottom: 10px;
}

#zip {
    margin-bottom: 10px;
}

.easy-autocomplete {
    margin: auto;
}

#eac-container-data-remote {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
}

#eac-container-city {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
}

#eac-container-zip {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
}

#eac-container-state {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
}

.header {
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    font-weight:  bold;   
    font-size: 60px;
    color: white;
    padding: 10px;
    margin-top: 100px;
    padding: 10px;
    /* margin: auto; */
}


.border{
    padding: 10px;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight:  bold;   
    font-size: 100px;
    margin-top: 100px;
    
}

.button{
    margin-top: 50px;
    background-color: transparent;
    padding: 10px;
    border: none;
    /* font-family: 'lobster', cursive; */
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    color: white;
    cursor: pointer;
    letter-spacing: 3px;
    
}

a {
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;

}

#map {
    margin-top: 30px;
    width: 50%;
    border: 1px solid white;

}

.homebutton{
    background-color: white;
    padding: 10px;
    border: 1px solid white;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    font-size: 14px;
    letter-spacing: 2px;
    color: black;
    cursor: pointer;
    margin-bottom: 20px;
}

.smallbutton{
    background-color: transparent;
    padding: 10px;
    border: 1px solid white;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    font-size: 14px;
    letter-spacing: 2px;
    color: white;
    cursor: pointer;
    margin-bottom: 20px;
}

#results {
        background-color: transparent;
        padding: 10px;
        border: 1px solid white;
        font-family: 'Roboto Condensed', sans-serif;
        text-align: center;
        font-size: 14px;
        letter-spacing: 2px;
        color: white;
        cursor: pointer;
        margin-bottom: 20px;
}

#last-page {
    background-color: transparent;
    padding: 10px;
    border: 1px solid white;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    font-size: 14px;
    letter-spacing: 2px;
    color: white;
    cursor: pointer;
    margin-bottom: 20px;
    margin-right: 10px;
}

.bigbutton{
    background-color: ivory;
    padding: 10px;
    border-radius: 15px 50px;
    font-family: 'lobster', cursive;
    text-align: center;
    font-size: 30px;
    color: rgba(85, 51, 7, 0.959);
    cursor: pointer;

}

.card-img-top{
    display: inline-block;
    max-width: 100%;
    margin: 2.5% 2.5%;
    position: relative;
}

.card{
    display: inline-block;
}

.form-group{
    display: inline-block;
    margin: 20px 0;
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons 
  button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  */
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra styles for the cancel button */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  /* Center the image and position the close button */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  }
  
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  .container {
    padding: 16px;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }
@media screen and (max-width: 911px){
    .smallbutton, .bigbutton, .button, .border, .image-text {
      width: 100%;
      margin-top: 20px;
      position: relative;
      display: inline-block;
    }
  }

  * {box-sizing: border-box}
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.modalButton {
  background-color: white;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}
.signup {
    padding: 14px 20px;
    background-color: green;
}

.cancelbtn, .signupbtn, .signup {
  float: left;
  width: 50%;
}

.container {
  padding: 16px;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-image: url(../images/brewery.jpg);
  padding-top: 50px;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; 
  border: 1px solid #888;
  width: 80%; 
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}

h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
}

h2 {
    letter-spacing: 1px;
}

p {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    line-height: 7px;
}

address {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
}

#about {
    line-height: 30px;
    letter-spacing: 1px;
    text-transform: initial;
    width: 75%;
    margin: 0 auto;
    margin-bottom: 30px;
}